.tShirtImage {
    position: relative;
    
  }
  .centered {
    height: 200px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid orange;
    color: red;
  }
  .text{
      position:absolute;
      top:40%;
      left:25%;
  }
  .arrowBtn{
      background-color: #507786;
      color:white;
      border-radius: 5px;
    
  }
  .upArrowBtn{
    margin-top:12%;
  }
  .downBtn{
      display:flex;
      flex-direction: column;
      align-items: center;
  }