.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .upload-btn{
    border: 2px solid #009444;
    color:#009444;
    background-color:#DEFFED;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
  }
  .cloudIcon{
    color:#009444;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
